.pageHeader{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop{   
    width: 33%;
    margin-bottom: 10px;
}
.name {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    
}
.address {
color: blueviolet;
}
.phoneNumber {
    color: goldenrod;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
