.pageHeader{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 20px
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop{   
    width: 33%;
    margin-bottom: 10px;
}
.name {
    font-weight: bolder;
    
}
